<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tts.infocruise18">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/andriod_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/andriod_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivityApp"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InfoBot_IBM_Watson" />
        <activity
            android:name=".InfoBotDialogFlow"
            android:label="InfoBot" />
        <activity android:name=".Splash" />
        <activity
            android:name=".DetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".DirectionActivity"
            android:label="Guide" />
        <activity
            android:name=".ContactsActivity"
            android:label="Contacts" />
        <activity
            android:name=".VideoActivity"
            android:label="Poster" />
        <activity
            android:name=".DeveloperActivity"
            android:label="Developers" />
        <activity android:name=".InfoBotSathees"
            android:label="InfoBot v2.3"></activity>
    </application>

</manifest>